/*
Name: Justin Strelka
Course: CWB 110 470
Website: Solutions Machining, Inc.
File: about_us.css
Creation Date: 6/10/18
Last Update: 7/21/18
*/
a.a_phone_header1 {
    color:crimson;
}
a:visited {
    color: #990099;
}
body.body1{
    font-family: Helvetica, "open sans", "Times New Roman", serif;
}
caption.caption1_body1 {
    color: blue;
    font-size: 30pt; font-weight: 900;
    margin-bottom: 50px; margin-top: 50px;
    text-align: center;
}
div.div3_footer1 {
    height: 60px;
}
div.div1_body1 {
    column-count: 2;
}
div.div2_body1 {
    background: linear-gradient(135deg, black 37%, midnightblue 0%);
    height: 1400px;
    margin-bottom: 0px; padding-bottom: 0px;                
}
div.div3_body1 {
    background: linear-gradient(45deg, midnightblue 47%, black 0%);
    height: 700px;
    margin-top: 0px; padding-top: 0px;
}
div.div4_body1 {
    background: linear-gradient(225deg, midnightblue 48.5%, black 0%);
    height: 570px;
}           
div.div5_header1 {
    background-color: Black;
}
div.div6_body1 {
    background-color: black;
    height: 1100px;
}
.drop_menu {
    background: #999999;
    padding: 0;
    margin-bottom: 0; margin-left: 300px;
    list-style-type: none;
    height: 50px;
    width: 910px;
}
.drop_menu li { 
    float: left;
}
.drop_menu li a{
    padding: 15px 60px;
    display: block;
    color: #66ccff;
    font-size: 15pt;
    font-weight: 900;
}
.drop_menu ul {
    position: absolute;
    left: -9999px;
    top: -9999px;
    list-style-type:none;
}
.drop_menu li:hover {
    border: solid black 3px; border-collapse: collapse;
    position:relative; 
    background: #999999;
    z-index: 99;
}
.drop_menu li:hover ul {
    border: solid black 3px; border-collapse: collapse;
    left: 0px;
    top: 50px;
    background-color: #999999;
    padding: 0px;
    z-index: 99;
}
.drop_menu li:hover ul li a {
    width: 120px;
    display: block;
    text-align: center;
    background-color: #999999;
    z-index: 99;
}
h1.h1-1_header1 {
    color: white;
    font-weight: 700;
    margin-left: 420px;
}
h2.h2-1_body1 {
    color: #b3b3b3;
    font-size: 40pt; font-weight: 900;
    margin-bottom: 0px; padding-bottom: 0px;
    margin-top: 0px; padding-top: 30px;
    text-align: center;
    z-index: 0;
}
h2.h2-2_body1 {
    color: #b3b3b3;
    font-size: 40pt; font-weight: 900;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2.h2-3_body1 {
    color: #b3b3b3;
    font-size: 40pt; font-weight: 900;
    margin: 0px; margin-bottom: 25px; margin-left: 465px;
    padding-top: 20px;
    text-align: left;
}
h3.h3-1_body1 {
    color: #b3b3b3;
    font-size: 20pt;
    margin-left: 470px; margin-top: 0px; padding-top: 0px;
    text-align: left;
}
img.img1_header1 {
    height: 150px;
    top: 10px;
    padding: 0px; border: 5px solid blue;
    position: absolute;
    width: 200px;
}
img.img1_body1 {
    height: 500px;
    border: 5px solid black; padding: 0px;
    margin-left: 250px; margin-top: 100px;
    position: absolute;
    width: 350px;
}
img.img2_body1 {
    border: 5px solid black; padding: 0px;
    height: 430px;
    margin-left: 120px; margin-top: 750px;
    position: absolute;
    width: 630px;
}
img.img3_body1 {
    height: 300px;
    float: left;
    padding: 50px 20px 80px 50px;
    width: 400px;               
}
img.img4_body1 {
    height: 100px;
    padding: 10px;
    width: 150px;
}
p.p1_body1 {
    color: #b3b3b3;
    font-size: 20pt; font-weight: 700;
    line-height: 2;
    margin-top: 0px; padding-top: 0px;
    text-align: left;
    white-space: pre;
}
p.p2_body1 {
    color: #b3b3b3;
    font-size: 15pt;
    line-height: 1.9;
    margin-left: 800px;
    white-space: pre;
}
p.p3_body1 {
    color: #b3b3b3;
    font-size: 20pt;
    clear: right;
    padding-right: 30px;
}
p.p4_footer1 {
    color: black;
    font-size: 15pt;
    margin-left: 200px;
}
p.p5_footer1 {
    color: black;
    font-size: 15pt;
    margin-right: 200px;
}
p.p6_body1 {
    color: #b3b3b3;
    font-size: 20pt;
    clear: right;
    padding-right: 30px;
}
p.p7_body1 {
    color: #b3b3b3;
    font-size: 20pt; font-weight: 700;
    line-height: 2;
    margin-top: 0px; padding-top: 0px;
    text-align: left;
    position: absolute;
    left: 800px;
    top: 400px;
}
table.table_footer1 {
    display: table;
    margin-left: auto; margin-right: auto; margin-top: 40px;
    width: 90%;
}
table.table1_header1 {
    display: table;
    width: 100%;
}
table.table2_header1 {
    display: table;
    margin-left: auto; margin-right: auto;
    width: 50%;                   
}
table.table3_body1 {
    border: solid; border-color: white; border-collapse: collapse;
    display: table;
    margin-left: auto; margin-right: auto;
    width: 80%;
}
td.td1_footer1 {
    color: black;
    font-size: 15pt;
    text-align: left;
}
td.td2_footer1 {
    color: black;
    font-size: 15pt;
    text-align: left;
}
td.td3_footer1 {
    color: black;
    font-size: 15pt;
    text-align: right;
}
td.td1_header1 {
    color: black;
    font-size: 25pt; font-weight: 900;
    text-align: center;               
}
td.td2_header1 {
    font-size: 20pt; font-weight: 900;  
    padding-top: 20px; padding-right: 20px;
    text-align: right;
    vertical-align: text-top;               
}
td.td3_header1 {
    color: blue; 
    font-size: 15pt; font-weight: 900;
    padding-bottom: 20px;
    text-align: center;               
}
td.td4_body1 {
    border: solid; border-color: white;
    color: blue;
    font-size: 15pt; font-weight: 600;
    text-align: center;
}
td.td5_body1 {
    border: solid; border-color: white;
    color: blue;
    font-size: 15pt; font-weight: 600;
    padding: 10px;
    text-align: left;
}
th.th1_body1 {
    border: solid; border-color: white;
    color: blue;
    font-size: 20pt; font-weight: 900;
    text-align: center;
}
tr.tr_footer1{
    display: table-row;
}
tr.tr1_header1 {
    display: table-row;
}
tr.tr2_header1 {
    display: table-row;
}